* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #e8f5e9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #388e3c;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .header h1 {
    font-size: 24px; 
    margin-right: auto;
  }
  .scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .scrollToTop img {
    width: 50px;
    height: 50px;
  }
  
  

  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-links .dropdown {
    position: relative;
    display: inline-block; 
    margin-right: 20px;
  }
  
  .nav-links .dropdown-content {
    display: none;
    position: absolute;
    background-color: #08420f;
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 10px;  
    list-style-type: none; 
    display: block; 
  }
  
  .nav-links .dropdown-content a {
    padding: 12px 16px;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 10px;  
  }
  
  .nav-links .dropdown-content a:hover {
    background-color: #155014;
    transform: scale(1.05); 
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 8px 12px;
    border-radius: 5px; 
  }
  
  .nav-links a:hover {
    color: #80e27e;
    background-color: rgba(128, 226, 126, 0.2);
  }
  
  .nav-links li {
    position: relative;
    margin-right: 20px;
  }
  
  .nav-links li:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0); 
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  
  .lang-button {
    background-color: #388e3c;
    color: white;
    padding: 8px 18px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: color 0.3s ease;
    margin-left: 10px;
    font-size: medium;
  }
  
  .lang-button:hover {
    color: #80e27e;
  }
  
  
  .main-content {
    margin-top: 80px;
    padding: 40px 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 30px;
    animation: fadeIn 0.5s ease;
    flex-grow: 1;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Kharkiv.jpg') center/cover no-repeat;
    color: white;
    padding: 100px 20px;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 36px; 
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 16px; 
    margin-bottom: 40px;
  }
  
  .sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 20px;
    text-align: center;
  }
  
  .sections h2 {
    margin-bottom: 30px;
    color: #388e3c;
    width: 100%;
  }
  
  .sections ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .sections li {
    width: calc(33% - 20px);
    margin-bottom: 20px;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .sections li:hover {
    transform: translateY(-5px);
  }
  
  .sections li h3 {
    display: flex;
    align-items: center;
  }
  
  .sections li h3 i {
    margin-right: 10px;
    color: #2e5c41;
  }
  
  .footer {
    background-color: #388e3c;
    color: white;
    text-align: center;
    padding: 25px;
    position: relative;
    font-size: 14px;
  }
  
  .footer p {
    font-size: 16px;
  }
  
  @media (max-width: 600px) {
    .header h1 {
      font-size: 20px; 
    }
  
    .hero h1 {
      font-size: 28px; 
    }
  
    .hero p {
      font-size: 14px;
    }
  
    .sections li {
      width: 100%; 
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .nav-links a {
      font-size: 12px; 
      margin-left: 10px;
    }
  
    .lang-button {
      font-size: 12px; 
      padding: 6px 14px;
    }
  }
  
      .main-content {
        margin-top: 80px;
        padding: 40px 20px;
        text-align: center;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        margin: 30px;
        animation: fadeIn 0.5s ease;
        flex-grow: 1;
      }
      @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
      }
      .hero h1 {
        font-size: 48px;
        margin-bottom: 20px;
      }
      .hero p {
        font-size: 18px;
        margin-bottom: 40px;
      }
      .sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 40px 20px;
        text-align: center;
      }
      .sections h2 {
        margin-bottom: 30px;
        color: #388e3c;
        width: 100%;
      }
      .sections ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .sections li {
        width: calc(33% - 20px);
        margin-bottom: 20px;
        text-align: left;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
      }
      .sections li:hover {
        transform: translateY(-5px);
      }
      .sections li h3 {
        display: flex;
        align-items: center;
      }
      .sections li h3 i {
        margin-right: 10px;
        color: #2e5c41;
      }
      .footer {
        background-color: #388e3c;
        color: white;
        text-align: center;
        padding: 25px;
        position: relative;
        font-size: 14px;
      }
      .footer p {
        font-size: 16px;
      }
      @media (max-width: 600px) {
        .header h1 {
            font-size: 18px;  
        }
    
        .hero h1 {
            font-size: 24px;  
        }
    
        .hero p {
            font-size: 12px;  
        }
    
        .nav-links {
            flex-direction: column;  
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    
        .nav-links a {
            margin-top: 20px;
            font-size: 14px; 
            margin-left: 0;
            padding: 6px 10px;
        }
    
        .sections li {
            width: 100%;  
            margin-right: 0;
        }
    
        .lang-button {
            font-size: 14px;  
            padding: 6px 14px;
        }
      }